@use '../../styles/brand-colors';
@use '../../styles/constants';

.navLink {
  cursor: pointer;
  color: brand-colors.$gray5 !important;
  &:hover {
    color: brand-colors.$gray3 !important;
  }
}

.dropMenu {
  white-space: nowrap;
}

.dropdownMenuContent {
  border-radius: 0.25em;
  padding-top: 1em;
  padding-bottom: 1em;
  border: 0px;
  width: 100%;
  margin: 0 auto;
  width: fit-content !important;
  top: 100% !important;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 5px #46476680;
}

.dropdownItem {
  padding: .5rem 1.5rem;
  font-weight: 600;
  &:active {
    background-color: white;
  }
  &:hover {
    background-color: brand-colors.$gray1;
    color: brand-colors.$gray5;
  }
}

.dropdownSubItem {
  font-size: 14px;
}

.dropdownBigItem {
  font-weight: 800;
}

.customNav {
  a {
    color: brand-colors.$gray5;
    &:hover {
      text-decoration: none;
    }
  }
}

.createAcct {
  background-color: transparent;
  border: 1px solid brand-colors.$brand-purple;
  color: brand-colors.$brand-purple !important;
  font-family: 'Nunito', sans-serif;
  border-radius: 8px;
  padding: 0.25em 1.5em;
  font-weight: 700;
  transition: all 200ms;
  white-space: nowrap;

  &:hover {
    background-color: brand-colors.$brand-purple;
    color: white !important;
    transition: all 200ms;
  }
}

.homePageNav {
  background-color: transparent !important;
  li {
    & > a, & > div > a {
      color: brand-colors.$white !important;

      &:hover {
        color: brand-colors.$gray1 !important;
      }

      &.createAcct {
        background-color: #F9F9FA3E; // moonlight 25% alpha
        border: none;

        &:hover {
          background-color: #F9F9FA7F; // moonlight 50% alpha
        }
      }
    }

    // For logged-in user dropdown
    & > span {
      p, i {
        color: brand-colors.$white !important;
      }
    }
  }
}

.login {
  color: brand-colors.$brand-purple !important;
  &:hover {
    color: #AEAEBE !important;
    text-decoration: none;
  }
}

.logo {
  height: 37px;
}

.navbarDropdownItem {
  font-size: 0.9rem;
}

.navbarDropdownHeader {
  padding: 0.5rem;
}

.rocketIcon {
  vertical-align: middle;
  height: 1em;
}

@media screen and (max-width: constants.$SMALL_MONITOR_WIDTH_BREAKPOINT) {
  .dropdownMenuContent {
    text-align: center;
    left: 0;
    transform: translateX(0);
  }
}
