<!-- module html  -->


{# Sets attributes used for the link field #}

{% set href = module.link.url.href %}
{% if module.link.url.type == "EMAIL_ADDRESS" %}
  {% set href = "mailto:" + href %}
{% endif %}
{% set rel = [] %}
{% if module.link.no_follow %}
  {% do rel.append("nofollow") %}
{% endif %}
{% if module.link.open_in_new_tab %}
  {% do rel.append("noopener") %}
{% endif %}

{# Card #}

<div class="cardContainer">
  {# TODO: Code for Icons #}
  <img draggable="false" class="cardImage" src="{{ module.image.src }}" alt="{{ module.image.alt }}">
  <h3 class="cardHeading">
    {{ module.heading }}
  </h3>
  <p class="cardDescription">
    {{ module.description }}
  </p>
  {% if module.isLinkActive %}
    <a class="cardLinkActive"  href="{{ href }}"
      {% if module.link.open_in_new_tab %}target="_blank"{% endif %}
      {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}>
      {{ module.link_text}}
    </a>
  {% else %}
    <div class="cardLinkInactive">
      {{module.link_text}}  
    </div>
  {% endif %}
</div>