.second-prompt {
  position: absolute;
  left: 0;
  right: 0;
  top: 15vh;
  bottom: 0;
  transform: translateY(10vh);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s opacity, 0.5s transform;
}

.paradox-show-prompt .second-prompt {
  opacity: 1;
  transform: translateY(0);
}

.image-fit {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#targetContainer {
  background-color: black;
  top: 50%;
}

#prompt {
  position: absolute;
  top: 2px;
  width: 100%;
  background-color: black;
  transform: translateY(-100%);
  text-align: center;
  padding-top: 1vh;
}
