body {
    font-family: 'Noto Sans JP', sans-serif
}

#display-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 16;
  text-align: center;
  background-color: white;
}

#display-overlay img {
    width: 100%;
    cursor: pointer;
}

#display-overlay video {
    height: inherit;
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
    pointer-events: none;
}

#desktop-overlay {
  background-color: rgba(0,0,0,0.8);
  width: 100vw;
  height: 100vh;
  z-index: 9;
  position: absolute;
  top: 0;
}

#question-mark-section button {
    background: none;
    border: none;
    padding: 0;
}

#question-mark-section button:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

#debug-section button {
    background: none;
    border: none;
    padding: 0;
}

#debug-section button:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

#debug-section img {
  max-width: 25px;
  padding: 10px;
}

#video-preview-section {
  right: 12vw;
  top: 57.5%;
}

#video-preview-section video {
  border-radius: 5px;
  width: 32vw;
  max-width: 44vh;
}

#video-preview-section p {
    text-align: center;
    margin: 0;
    color: white;
    font-size: 8px;
    font-weight: bold;
}

#gesture-section {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    z-index: 10;
    
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 30px;
}

.gesture-icon-section {
  width: 23vw;
  text-align: center;
}

.gesture-icon-section img {
  margin-left: -16px;
  max-width: 60px;
}

.gesture-icon-section p {
  margin: 0;
}

#qr-code-section {
  left: 12vw;
  top: 55%;
}

#qr-code-section img {
  width: 32vw;
  max-width: 45vh;
  border-radius: 5px;
}

#qr-code-section p {
  margin: 5px 0px 0px 0px;
  text-align: center;
  color: white;
  line-height: 18px;
  font-size: 14px;
}

#logo-section {
  padding: 10px;
}

#gradient-box {
  background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.5));
  width: 100vw;
  z-index: 9;
  height: 20vh;
  position: absolute;
  top: 0;
}

#ar-button-section button {
  background-color: white;
  border-radius: 10px;
  width: 130px;
  height: fit-content;
  color: black;
  font-size: 15px;
  border: none;
  padding: 5px 10px;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
}

#ar-button-section button:hover {
  background-color: #cbcbcb;
  cursor: pointer;
}

#ar-button-section p {
  font-size: 10px;
  font-weight: bold;
  color: white;
  margin: 0px 0px 2px 0px;
  text-shadow: 0px 0px 10px rgb(0 0 0 / 80%);
}

#config-button-section button {
  background-color: white;
  border-radius: 10px;
  width: 130px;
  height: fit-content;
  color: black;
  font-size: 15px;
  border: none;
  padding: 5px 5px;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
}

#config-button-section button:hover {
  background-color: #cbcbcb;
  cursor: pointer;
}

#config-button-section p {
  font-size: 10px;
  font-weight: bold;
  color: white;
  margin: 0px 0px 2px 0px;
  text-shadow: 0px 0px 10px rgb(0 0 0 / 80%);
}

#cta-button-section {
  font-size: 14px;
  padding: 12px;
  font-weight: bold;
}

#cta-button-section img {
    width: 18px;
    margin-left: 2px;
    vertical-align: text-bottom;
}

#cta-button-section a {
    text-decoration: underline white;
    color: white;
}

#preview-close-button-section {
    padding: 12px;
}

#preview-close-btn {
    background: none;
    border: none;
    padding: 0;
}

#preview-close-btn:hover {
    cursor: pointer;
}

#question-close-button-section {
    padding: 12px;
}

#question-close-btn {
    background: none;
    border: none;
    padding: 0;
}

#question-close-btn:hover {
    cursor: pointer;
}

/* color picker */
.color-picker {
  padding: 1rem;
  border: 0.15rem solid white;
  margin: 0.15rem;
  border-radius: 50%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  pointer-events:auto;
}

#container {
  position: absolute;
  z-index: 10;
  right: 5px;
  bottom: 10px;
  text-align: center;
  pointer-events: none;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

#container button:focus {
  box-shadow: 0px 0px 0px 0.1rem white;
  outline: none !important;
}

#container::-webkit-scrollbar {
  display: none;
}

#container button:hover {
    cursor: pointer;
}

/* generic classes */
.img-shadow {
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
}

.text-shadow {
    text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

/* positioning classes */
.bottom-center {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  text-align: center;
}

.bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  text-align: left;
}

.bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  text-align: left;
}

.top-left {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 16;
  text-align: left;
}

.top-right {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  text-align: left;
}

.mid-center-right {
  position: absolute;
  bottom: 8vh;
  right: 8vw;
  z-index: 16;
  text-align: center;
}

.center-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.center-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

/* Fade out */ 
#fadeElem {
  pointer-events: none;
  background-color: white;
  opacity: 0;
}
.absolute-fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* animations */
.fade-out { animation: fade-out 0.5s linear forwards; }
@keyframes fade-out {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

/* media queries */
@media screen and (min-height: 500px) {
  #logo-section img {
    width: 150px;
  }

  #cta-button-section {
    font-size: 20px;
  }
  
  #cta-button-section img {
      width: 24px;
  }
}

@media screen and (max-width: 310px) {
  #cta-button-section {
    font-size: 14px;
  }

  .top-right {
      top: 1vh;
  }

  #cta-button-section img {
    width: 18px;
  }
}

@media screen and (min-width: 900px) and (max-height: 500px) {
    #video-preview-section {
        right: 30vw;
        top: 53%;
    }
    
    #qr-code-section {
        left: 30vw;
        top: 53%;
    }
}
