@use '../styles/brand-colors';

.header {
  background-color: white;
  border-bottom: 0;
  padding: 0 0 1rem 0;
  width: 100%;
}

.faqOpener {
  margin: 0;
}

.faqButton {
  white-space: normal;
  background-color: #F3F2F4;
  color: brand-colors.$brand-purple;
  padding: 0.688rem 1rem;
  border-color: #F3F2F4;
  position: relative;
}

.faqButton::after {
  content: '';
  mask-image: url('../../img/chevron-down-solid.svg');
  -webkit-mask-image: url('../../img/chevron-down-solid.svg'); 
  transition: all .35s;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-color: brand-colors.$gray4;
  display: inline-block;
  top: calc(50% - 0.6rem);
  right: 1rem;
  position: absolute;
  width: 1rem;
  height: 1rem;
}

.faqButtonContent {
  font-family: 'Nunito', sans-serif;
  max-width: calc(100% - 2rem);
}

.faqButton[aria-expanded="true"]::after {
  transform: rotate(-.5turn);
}
