@use '../styles/constants';

.arForEveryone {
  margin-bottom: 3.5rem;
}

.lastParagraph {
  > p:last-child {
    margin-bottom: 0;
  }
}

.headshot {
  width: 15rem;
  height: 15rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: constants.$MOBILE_WIDTH_BREAKPOINT) {
  .arForEveryone {
    margin-bottom: 2rem;
  }

  .headshot {
    width: 11rem;
    height: 11rem;
  }
}

@media screen and (max-width: constants.$TABLET_WIDTH_BREAKPOINT) {
  .maxTabletWidth {
    max-width: 49rem !important;
  }
}
