.recorder-container {
  all: unset;
  position: absolute;
  bottom: 7%;
  right: 50%;
  transform: translateX(50%);
  width: 200px;
  height: 60px;
  z-index: 1;
}

.progress-container {
  display: none;
}

#recorder-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  color: black;
}

#icon {
  padding-right: 10px;
}
