.hideable-pre {
  button {
    background-color: #f2f1f3;
    border: none;
    padding: 0.5em;
    &.show {
      border-top: 2px dotted #464766;
    }
  }

  pre {
    margin-top: 0;
    background-color: #f2f1f3;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    padding: 0.25em;
    border-bottom: 2px dotted #464766;
  }
}